mat-expansion-panel {
  text-align: left;

  mat-panel-title {
    margin-top: 0.1em;
    font-weight: bold;

    ::ng-deep name {
      font-size: 1.5em;
    }

    ::ng-deep country {
      font-size: 0.9em;
      opacity: 0.8;
      margin-top: 0.6em;
      margin-left: 0.5em;
    }
  }

  mat-panel-description {
    display: flex;
    justify-content: flex-end;
    font-size: 1.1em;
  }

  .preview {
    display: inline-block;
    float: left;
    max-width: 40%;
    margin: 0 1em;

    ::ng-deep img {
      max-width: 100%
    }

    .population {
      opacity: 0.8;
      font-size: 0.9em;
      font-style: italic;
    }
  }

  ::ng-deep p {
    font-size: 1.2em
  }
}
