<h2>Global Smart Cities</h2>
<p>To get a better understanding of how smart cites operate, we compiled a list of some notable ones, relevant history,
and what makes their transportation so effective.</p>

<div class="accordion-wrapper">
  <mat-accordion [multi]="true">
    <app-city-card>
      <name>Curitiba</name>
      <country>Brazil</country>
      <population>1.8M</population>
      <tags>
        <mat-chip-list>
          <mat-chip>Urban planning</mat-chip>
          <mat-chip>Buses</mat-chip>
          <mat-chip>Green spaces</mat-chip>
        </mat-chip-list>
      </tags>

      <preview>
        <img src="assets/img/cities/curitiba_brazil.jpg">
      </preview>

      <about>
        <p><b>Curtiba, Brazil</b> is the capital of the state of Paran&aacute;, and the 8th most populated city Brazil
          with an additional <b>2M tourists/year</b>.</p>

        <p><b>History:</b> During the 1970's the city undertook projects to deal with street congestion following a population boom.
        The first project (1972) converted the main street in the center of the city to a pedestrian mall, working
        to avoid disrupting local businesses. City planners adopted a "act now, adjust later" philosophy to help avoid
        bureaucracy while making significant changes.</p>

        <p><b>Modern-day:</b> 85% of the population uses the bus system (Bus Rapid Transit, or BRT), known for being more
          efficient, faster, and cheaper than anything else available. The BRT system includes 5 express bus avenues and
          uses raised platforms and an electronic pre-payment system, allowing for higher-capacity buses and quicker
          stops. Despite the urbanization, the city makes efforts towards large green areas and has a widely-adopted
          recycling system.</p>
      </about>

    </app-city-card>

    <app-city-card>
      <name>Freiburg</name>
      <country>Germany</country>
      <population>220,000</population>
      <tags>
        <mat-chip-list>
          <mat-chip>Bikes</mat-chip>
          <mat-chip>Diverse</mat-chip>
        </mat-chip-list>
      </tags>

      <preview>
        <img src="assets/img/cities/freiburg_germany.jpg">
      </preview>

      <about>
        <p><b>Freiburg</b> is a city of 220,000 in southwestern Germany, seeing many regional tourists due to its scenic
        views and mild climate.</p>

        <p><b>History: </b> Frieburg saw heavy damage in World War II from air raids, leading to redevelopment of its
        inner areas during the reconstruction period. Citizens at the time prioritized energy consumption and city layout
        over private vehicles. City planners emphasized diverse, cheap, and clean transportation modes and adaptable
        services, keeping in mind considerations like air pollution from traffic.</p>

        <p><b>Modern-day: </b> The city center has been pedestrianized to reduce the amount of cars allowed inside,
        preserving it as a hotspot for restaurants, shops, and green space. Parking is available outside for a fee,
        which increases as you approach the city center. The city also implemented a tram system to bring travelers
        within 7 minutes of the outskirts of the city. Since its citizens are accepting of physical activity and the climate
          allows for it, the city promoted bikes by placing them next to tram &amp; bus stations. As a result, public
        transport use doubled from 1984 to 2006, and the division of cars, public transport, biking, and walking is
        expected to be roughly equal by 2020.</p>


      </about>

    </app-city-card>

  </mat-accordion>
</div>
