<div class="container">
  <div class="grid-container">
    <div class="wpi">
      <a href="https://www.wpi.edu"><img src="assets/wpi_large.png"></a>
    </div>

    <div class="eilat">
      <a href="https://eilat.city"><img src="assets/eilat_large.svg"></a>
    </div>

    <div class="wpi">
      <h3>Made possible by Worcester Polytechnic Institute</h3>
      Thank you for your time, guidance, and assistance:
      <ul>
        <li>Advisor: Professor Isa Bar-on</li>
        <li>Submitted C-term 2019</li>
      </ul>
    </div>

    <div class="eilat">
      <h3>Sponsored by the city of Eilat, Israel</h3>
      Generously sponsored &amp; assisted by:
      <ul>
        <li>Assaf Adamon</li>
        <li>Elad Toppel</li>
      </ul>
    </div>
  </div>

  <div class="credits">
    <h3>Website and report built by:</h3>
    <ul>
      <li>Evan Goldstein</li>
      <li>Valeria Kopper</li>
      <li>Christopher Myers</li>
      <li>Zachary Zlotnick</li>
    </ul>

    <p>This website is free &amp; open-source software. You can download the source code for the site
    <a href="https://github.com/c7c8/Eilat-Transport-Map-Site">here</a>, and the data
    processing server source code <a href="https://github.com/c7c8/Eilat-Transport-Map-Server">here.</a></p>
  </div>
</div>
