<div class="content-container">
  <mat-toolbar color="primary">
    <h1>Eilat Transportation &amp; Interactive Map</h1>
  </mat-toolbar>

  <div class="content">
    <mat-tab-group>


      <mat-tab>
        <ng-template mat-tab-label>
          <fa-icon [icon]="faMap"></fa-icon>
          Map
        </ng-template>
        <!-- Lazy load the map since it relies on DOM calculation stuff -->
        <ng-template matTabContent>
          <app-map mapId="map1"></app-map>
        </ng-template>
      </mat-tab>

      <mat-tab>
        <ng-template mat-tab-label>
          <fa-icon [icon]="faPlaneArrival"></fa-icon>
          Flights
        </ng-template>

        <!-- Lazy load flights page since it relies on DOM calculation stuff for D3-->
        <ng-template matTabContent>
          <app-flights></app-flights>
        </ng-template>
      </mat-tab>

      <mat-tab>
        <ng-template mat-tab-label>
          <fa-icon [icon]="faShip"></fa-icon>
          Ships
        </ng-template>
        <app-ships></app-ships>
      </mat-tab>

      <mat-tab>
        <ng-template mat-tab-label>
          <fa-icon [icon]="faChartBar"></fa-icon>
          Analysis
        </ng-template>
        <app-analysis></app-analysis>
      </mat-tab>

      <mat-tab>
        <ng-template mat-tab-label>
          <fa-icon [icon]="faInfoCircle"></fa-icon>
          Acknowledgments
        </ng-template>
        <app-about></app-about>
      </mat-tab>

    </mat-tab-group>
  </div>

  <footer>
    <span class="theme-toggle" matTooltip="Switch light/dark theme">
      <fa-icon [icon]="faMoon"></fa-icon>
      <mat-slide-toggle (change)="handleThemeChange($event)"></mat-slide-toggle>
      <fa-icon [icon]="faSun"></fa-icon>
    </span>
  </footer>
</div>
