<mat-toolbar>
  <h1>Eilat Interactive Transport Map</h1>
  <span class="toolbar-fill"></span>
  <a href="https://wpi.edu">
    <img src="assets/wpi.png"
         alt="WPI Logo"
         class="logo"
         matTooltip="Built for Eilat by students from Worcester Polytechnic Institute">
  </a>
  <span style="padding-left: 1em"></span>
  <a href="https://eilat.city">
    <img src="assets/eilat.png"
         alt="Eilat logo"
         class="logo"
         matTooltip="Sponsored by the city of Eilat. Thank you!">
  </a>
</mat-toolbar>

<div class="map-container">
  <!-- Left panel -->
  <div class="side-info">
    <h2>About</h2>
    <p>This site displays an interactive map of the city of Eilat to help with analysis and
    visualization of transport in the city. You can select from four different map styles using
    the buttons on the left, and you can add any number of informational overlays using the
    dropdown menu on the right.</p>

    <p>Built using the Google Maps API and assistance from the city of Eilat.</p>

    <p>This site is open source and can be viewed on GitHub:</p>
    <ul>
      <li><a href="https://github.com/C7C8/Eilat-Transport-Map-Site">Website</a></li>
      <li><a href="https://github.com/C7C8/Eilat-Transport-Map-Server">Server</a></li>
    </ul>
  </div>

  <!-- Center panel -->
  <div>
    <div class="buttonbar">

      <!-- Map type switching buttons -->
      <span class="buttonbar-left">
        <button mat-raised-button
                (click)="switchMapType('default')"
                [color]="mapType === 'default' ? 'primary' : 'secondary'"
                matTooltipPosition="above"
                matTooltip="Traditional roadmap view">
          <fa-icon [icon]="faRoad"></fa-icon>
          Roadmap
        </button>
        <button mat-raised-button
                (click)="switchMapType('terrain')"
                [color]="mapType === 'terrain' ? 'primary' : 'secondary'"
                matTooltipPosition="above"
                matTooltip="Terrain/contour view">
          <fa-icon [icon]="faMountain"></fa-icon>
          Terrain
        </button>

        <button mat-raised-button
                (click)="switchMapType('hybrid')"
                [color]="mapType === 'hybrid' ? 'primary' : 'secondary'"
                matTooltipPosition="above"
                matTooltip="Satellite imagery view">
          <fa-icon [icon]="faSatellite"></fa-icon>
          Satellite
        </button>

        <button mat-raised-button
                (click)="switchMapType('road_schematic')"
                [color]="mapType === 'road_schematic' ? 'primary' : 'secondary'"
                matTooltipPosition="above"
                matTooltip="Road schematic view">
          <fa-icon [icon]="faCodeBranch"></fa-icon>
          Schematic
        </button>
      </span>

      <span class="buttonbar-right">
        <!-- Overlay selection menu -->
        <mat-form-field class="overlay-selector">
          <mat-select placeholder="Map overlays"
                      [formControl]="overlayCtl"
                      matTooltipPosition="above"
                      matTooltip="Select overlays to display on top of the map"
                      multiple>
            <mat-option *ngFor="let overlay of overlaysTable"
                      [value]="overlay"
                      matTooltipPosition="left"
                      (onSelectionChange)="handleOverlayChange($event)"
                      [matTooltip]="overlay.tooltip">
              <fa-icon [icon]="overlay.icon"></fa-icon>
              {{overlay.name}}
            </mat-option>

            <!-- Custom "+1 more" display in case of many overlays selected.
            Shamelessly lifted from the Angular material docs... -->
            <mat-select-trigger>
              {{overlayCtl.value?.length > 0 ? overlayCtl.value[0].name : 'Map overlays'}}
              <span *ngIf="overlayCtl.value?.length > 1" class="trigger-overflow">
                (+{{overlayCtl.value.length - 1}} {{overlayCtl.value.length === 2 ? "more" : "others"}})
              </span>
            </mat-select-trigger>
          </mat-select>
        </mat-form-field>

        <!-- Center map button -->
        <button mat-raised-button
                (click)="centerMap()"
                [color]="offCenter ? 'primary' : 'secondary'"
                matTooltip="Zoom out and recenter the city in the center of your view"
                matTooltipPosition="above">
          <fa-icon [icon]="faCompress"></fa-icon>
          Re-center
        </button>

      </span>
    </div>

    <!-- Filled in by the google maps API -->
    <div id="map"></div>
  </div>

  <!-- Right panel -->
  <div class="side-info">
    <h2>What you're seeing:</h2>

    <!-- Base map styles -->
    <div *ngIf="mapType === 'default'" class="fade">
      <h3>Roadmap view</h3>
      <p>Displayed is a roadmap view of Eilat, with all roads shown clearly, and bodies of water in blue. </p>
    </div>

    <div *ngIf="mapType === 'terrain'" class="fade">
      <h3>Terrain view</h3>
      <p>The terrain of the city is shown using shadows and standard topographical
        mapping techniques, to help aid understanding of how terrain affects transport in the city. If you've never
        read a topographical map before, <a href="https://www.rei.com/learn/expert-advice/topo-maps-how-to-use.html">
          here's a quick guide.</a>
      </p>
    </div>

    <div *ngIf="mapType === 'hybrid'" class="fade">
      <h3>Hybrid view</h3>
      <p>In hybrid view an undetailed road overlay &amp; important markers are combined with satellite
        imagery. Try switching between this view and roadmap with terrain to help understand Eilat's
        terrain.</p>
    </div>

    <div *ngIf="mapType === 'road_schematic'" class="fade">
      <h3>Schematic view</h3>
      <p>In schematic view, terrain and water are darkened while roads are displayed in yellow for strong
        visibility. The brighter the road, the bigger or faster it is, so the brightest level corresponds to
        highways while the darkest is for local roads only.</p>
    </div>

    <!-- Information overlays -->
    <div *ngFor="let overlay of overlaysTable">

      <!-- Angular won't let me .filter the overlays table, booooooo... -->
      <div *ngIf="overlay.active" class="fade">
        <h3>{{overlay.descName}}</h3>
        <div [innerHTML]="overlay.description"></div>
      </div>
    </div>
  </div>
</div>

