<h2>Flights</h2>

<div class="container">
  <div class="flight-info">
    <h3>Air Traffic</h3>
    <p>The table on the right shows up to 250 flights that <em>arrived</em> at any of the three airports,
      along with where they came from in order to get a better idea of where most air traffic is coming
      from.</p>

    <p>At present the table shows flights landing in Ramon, Eilat, and Ovda Airports, but the latter two are scheduled
      to either shut down or stop handling civilian flights as air traffic in the region shifts to the newly-opened
      Ramon Airport.</p>
  </div>

  <div class="table-container">
    <h3>Table of Flights</h3>
    <table mat-table [dataSource]="flights" matSort>
      <tr mat-header-row *matHeaderRowDef="displayColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayColumns"></tr>

      <ng-container matColumnDef="airlineCode">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Flight</th>
        <td mat-cell *matCellDef="let flight">{{flight.airlineCode}}{{flight.flightNumber}}</td>
      </ng-container>

      <ng-container matColumnDef="arrival">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Arrival</th>
        <td mat-cell *matCellDef="let flight">{{flight.arrival * 1000 | date:'medium':'+0200'}}</td>
      </ng-container>

      <ng-container matColumnDef="airline">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Airline</th>
        <td mat-cell *matCellDef="let flight">{{flight.airline}}</td>
      </ng-container>

      <ng-container matColumnDef="srcAirport">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Departure Airport</th>
        <td mat-cell *matCellDef="let flight">{{flight.srcAirport}}</td>
      </ng-container>

      <ng-container matColumnDef="srcCity">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Departure City</th>
        <td mat-cell *matCellDef="let flight">{{flight.srcCity}}, {{flight.srcCountry}}</td>
      </ng-container>
    </table>
    <mat-paginator [pageSizeOptions]="[10, 25, 50]" showFirstLastButtons></mat-paginator>
  </div>

  <div class="chart-info">
    <h3>When do flights arrive?</h3>
    The bar chart on the left shows when flights are most likely to arrive; that is, a bigger bar
    means that in the past flights have tended to arrive more often at that time than others. Since
    each flight typically brings hundreds of passengers, this information is useful for planning
    transportation offerings.
  </div>

  <mat-card class="chart">
    <div class="chart-buttons">
      <button mat-raised-button color="primary" (click)="toggleWeekdays()">Weekdays</button>
      <button mat-raised-button color="primary" (click)="toggleWeekends()">Weekends</button>
      <mat-form-field class="day-selector">
        <mat-select placeholder="Select days"
                    [formControl]="dayCtl"
                    matTooltipPosition="above"
                    matTooltip="Select days to show data for"
                    multiple>
          <mat-option *ngFor="let day of days" [value]="day">{{day}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="barchart-container">
      <svg id="barchart"></svg>
    </div>
  </mat-card>

</div>
